body {
    margin: 0;
    font-family: "Aileron";
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    font-weight: bold;
    color: #00BBD1;
    padding: 16px;
    text-decoration: none;
  }
   
 
  .iconlink :hover {
    color: #96A1A8;
  }


  
  .content{
    position: fixed;
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
  }

  .content{
    position: fixed;
    margin-left: 300;
    padding: 5px 16px;
    height: 1000px;
    float: left;
  }

  .nameuser{
    font-weight: bold;
    font-size: xx-large;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .avatar {
      border-radius: 200%;
      object-fit: cover;
      width: 230px;
      height: 230px;
      float: left;
      margin-right: 20;
  }

  .arrow {
    height: 20px;
    width: auto;
    margin-left: 20;
    float: right;
  }

  .iconnav {
    height: 20px;
    width: auto;
    margin-right: 20;
    float: left;
  }

  .ars {
    height: 100px;
    width: auto;
    margin-bottom: 20;
    float: left;
  }

  .ars:hover  {
    -webkit-filter: drop-shadow(12px 12px 25px #96A1A8);
    filter: drop-shadow(2px 2px 10px #96A1A8);
  }

  .profilepic {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 0 50 -5;
    position: fixed;
    bottom: 0;
  }

  .name {
    font-size: small;
    margin: 0 0 60 50;
    position: fixed;
    bottom: 0;
    font-weight: lighter;
  }

  .name:hover{
    color: #96A1A8;
  }