body {
    margin: 0;
    font-family: 'Aileron', sans-serif;
                                                
  }  

  /*start of sidebar codes*/
  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    font-weight: bold;
    color: #00BBD1;
    padding: 16px;
    text-decoration: none;
  }
   
  .iconlink :hover {
    color: #96A1A8;
  }
  
  .arrow {
    height: 20px;
    width: auto;
    margin-left: 20;
    float: right;
  }

  .iconnav {
    height: 20px;
    width: auto;
    margin-right: 20;
    float: left;
  }

  .ars {
    height: 100px;
    width: auto;
  }

  .ars:hover  {
    -webkit-filter: drop-shadow(12px 12px 25px #96A1A8);
    filter: drop-shadow(2px 2px 10px #96A1A8);
  }

  .profilepic {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 0 50 -5;
    position: fixed;
    bottom: 0;
  }

  .name {
    font-size: small;
    margin: 0 0 60 50;
    position: fixed;
    bottom: 0;
    font-weight: lighter;
  }

  .name:hover{
    color: #96A1A8;
  }

/*end of sidebar codes*/

/*beginning of breadcrumb code*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 2em;
  color: #00BBD1;
}

li {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  margin: 0;
}
  li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
  }
li:last-child {
  font-weight: bold;
}
  li:last-child:after {
    content: '';
  }

a {
  text-decoration: none;
  display: inline-block;
  color: #96A1A8;
}
  a:hover {
    text-decoration: underline;
  }

  /* Collapsed breadcrumbs */
.collapsed li {
  overflow: hidden;
}
  .collapsed li:after {
    background: whitesmoke;
    background: linear-gradient(90deg, whitesmoke 0%, white 35%);
    padding-left: 1em;
  }

.collapsed a {
  max-width: 2em;
  transition: max-width 300ms ease-in-out;
}
  .collapsed a:hover,
  .collapsed a:focus,
  .collapsed li:hover a {
    max-width: 1000px;
  }
  .collapsed li:hover:after {
    padding-left: 0em;
    background: transparent;
  }

/*end of breadcrumb code*/

/* start of main content code*/
h2 {
  margin-bottom: 0;
}

p {
  margin-top : 1%; 
  padding-top:0;
}
  /* Style page content */
  .main {
    margin-left: 270px; /* Same as the width of the sidebar */
    padding: 2px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  input[type]
  {
      border: 0;
      border-bottom: 2px solid #96A1A8;
      outline: 0;
  }

  select {
    border: 0;
    border-bottom: 2px solid #96A1A8;
    outline: 0;
    height: 20px;
    flex: 0 0 200px;
    margin-left: 15px;
    width: 60px
  }

  
.required:after {
  content:" *";
  color: #00BBD1;
}
  
.button {
  background-color: #00BBD1;
  border: none;
  color: FCF8F6;
  padding: 10 20 10 20;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Aileron";

}

.button:hover{
  background-color: #96A1A8;
  color: white;
}
/* End of Main Content Code */

/* for time */
input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 14px;
  font-family: Aileron;
  width: 180px;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #f1f1f1;
  border-radius: 15%;
  padding: 19px 13px;
  color: black;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #f1f1f1;
  border-radius: 15%;
  padding: 19px 13px;
  color: black;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #00BBD1;
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

/* 'X' button for resetting/clearing time */
input[type=time]::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}
/* end of time*/

/* for qr code*/
#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}
/* end of qr code*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 150px; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 13px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/* end of modal code */