body {
    margin: 0;
    font-family: "Aileron", sans-serif;
  }  
  /*start of sidebar codes*/

  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    font-weight: bold;
    color: #00BBD1;
    padding: 16px;
    text-decoration: none;
  }
   
  .iconlink :hover {
    color: #96A1A8;
  }
  
  .arrow {
    height: 20px;
    width: auto;
    margin-left: 20;
    float: right;
  }

  .iconnav {
    height: 20px;
    width: auto;
    margin-right: 20;
    float: left;
  }

  .ars {
    height: 100px;
    width: auto;
  }

  .ars:hover  {
    -webkit-filter: drop-shadow(12px 12px 25px #96A1A8);
    filter: drop-shadow(2px 2px 10px #96A1A8);
  }

  .profilepic {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 0 50 -5;
    position: fixed;
    bottom: 0;
  }

  .name {
    font-size: small;
    margin: 0 0 60 50;
    position: fixed;
    bottom: 0;
    font-weight: lighter; 
  }

  .name:hover{
    color: #96A1A8;
  }

/*end of sidebar codes*/

/*beginning of breadcrumb code*/

ul {
  list-style-type: none;
  margin: 0;
  margin-top: -13px;
  margin-left: -6px;
  padding: 2em;
  color: #00BBD1;
}

li {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  margin: 0;
}
  li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
  }
li:last-child {
  font-weight: bold;
}
li:last-child:after {
  content: '';
}

a {
  text-decoration: none;
  display: inline-block;
  color: #96A1A8;
}
  a:hover {
    text-decoration: underline;
  }

  /* Collapsed breadcrumbs */

.collapsed li {
  overflow: hidden;
}
  .collapsed li:after {
    background: whitesmoke;
    background: linear-gradient(90deg, whitesmoke 0%, white 35%);
    padding-left: 1em;
  }

.collapsed a {
  max-width: 2em;
  transition: max-width 300ms ease-in-out;
}
  .collapsed a:hover,
  .collapsed a:focus,
  .collapsed li:hover a {
    max-width: 1000px;
  }
  .collapsed li:hover:after {
    padding-left: 0em;
    background: transparent;
  }

/*end of breadcrumb code*/

/* start of main content code*/

  .content{
    position: fixed;
    margin-left: 270;
    padding: 15px 16px;
    float: left;
    width: 100%;
    height: 100%;
  }

  .nameuser{
    font-weight: bold;
    font-size: xx-large;
    margin-top:0;
    float: left;
    margin-left: 20px;
  }

  .avatar {
    border-radius: 200%;
    object-fit: cover;
    width: 230px;
    height: 230px;
    float: left;
    margin-left: 20px;
}

.iconprofile {
  height: 15px;
  width: auto;
  margin-right: 5;
  float: left; 
}

.button{
  background-color: #00BBD1;
  border: none;
  color: #FCF8F6;
  padding: 10 30 10 30;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover{
  background-color: #96A1A8;
  color: white;
}

.profemail {
  float: left;
}

.subdetails{
  float: left;
}

.leftdiv{
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  width: 500;
  height: 50;
}

.buttonspacing{
  margin-left: 500px;
  position: absolute;
  display: inline-block;
  width: 350;
  height: 50;
}

.buttonspacing div {
  display: inline-block;
}

.buttonspacing .btn2 {
  margin-left: 50px;
}

.summary{
  padding-bottom: 10;
}

.sidedetails{
  float: left;
  width: 350px;
  height: 700px;
  padding-top: 50;
  line-height: 1;
}

.sidedetails h1 {
  font-size: 25px;
}

.userdetails {
  display: inline-block;
  margin-top: 50px;
  margin-left: -225px;
  height: 700px;
  width: 90%;
  position: absolute;
}

.subtext {
  margin-top: -10px;
  font-size: 16;
}

.type {
  height: 80px;
}

.bio {
  height: 150px;
}

.inc, .bal, .stat {
  height: 75px;
}

/*User Table*/
.container {
  margin-top: 60px;
  width: 75%;
  height: 100%;
  overflow: scroll;
  display: inline-block;
}

.usertable{
  width: 100%;
  table-layout: fixed;
}

colgroup .event {
  width: 50%;
}

colgroup .attendance {
  width: 30%
}

.usertable th {
	text-align: left;
  font-size: 25px;
}

.container::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar Handle */
.container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Scrollbar Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading_message {
  height: 100%;
  text-align: center;
  font-size: 50px !important;
}