.inptstuff {
    margin-top: -40px;
}

input[type=text], input[type=password], button { /*aligning, box design*/
    display: block;
    margin: 20px auto;
    border-radius: 20px;

    height: 100px;
    width: 80%;
    padding: 12px 20px;
}

::placeholder {
    color: darkgray;
}

input[type=text], input[type=password] { /*design*/
    background-color: whitesmoke;
    color: black !important;

    box-sizing: border-box;
    border: none;
}

button { /*design*/
    margin: 35px auto;

    background-color: #00BBD1;
    color: #FCF8F6 !important;
    border: none;
    cursor: pointer;
}